@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
.savishkarheading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    min-height: calc(100vh - 225px);
    flex-direction: column;
    color: aliceblue;
    /* transform: translate(-3%,-7%); */
}
.savishkarheading h2{
    font-size: 80px;
    font-family: 'Lemonada', cursive;
    color: rgb(215, 215, 25);
}
.navbar{
    height: 15vh;
}
.savishkarcaption{
    font-size: 40px;
    color: rgb(41, 2, 2);
    font-family: 'Lemonada', cursive;
    text-transform: capitalize;
}
.abtsection{
    background: transparent;
}
@media(max-width:1100px)
{
    .savishkarheading h2{
        font-size: 60px;
    }
    
.savishkarcaption{
    font-size:30px;}   
}
@media(max-width:700px){
    .savishkarheading h2{
        font-size: 40px;
    }
    
    .savishkarcaption{
        font-size: 20px;}
}