@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");
.abtheading {
  color: rgb(215, 215, 25);
  font-family: "Lemonada", cursive;
  text-align: center;
  /* height: 200vh; */
}
.event_svg {
  width: 300px;
  height: 300px;
}
.contactus {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 20px;
}
.getintouch {
  margin-left: 10vw;
  color: rgb(215, 215, 25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.getintouch h2,
.getintouch h3 {
  font-size: 20px;
}
.getintouch button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px 10px;
  border: none;
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px auto;
}
.getintouch button img {
  margin-left: 4px;
}
.getintouch p {
  margin: 10px auto;
  font-weight: bolder;
  font-size: 25px;
}
.socialicons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 700px) {
  .contactus {
    flex-direction: column;
    padding-bottom: 20px;
    text-align: center;
  }

  .getintouch {
    margin-left: 0px;
    padding: 0px 20px;
  }
}
