* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 10% 0;
}
.center {
  position: relative;
  height: 300px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stroke {
  position: absolute;
  bottom: 25px;
  height: 5px;
  width: 100%;
  background: rgb(225, 225, 25);
  border-radius: 15px;
  animation: stroke 5s linear infinite;
  transform: scaleX(1);
}
.pencil {
  position: absolute;
  height: 250px;
  width: 55px;
  background: #343434;
  transform: rotate(15deg);
  left: 55%;
  top: -7%;
  animation: pencil 5s linear infinite;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
}
.pencil:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15%;
  height: 80%;
  width: 100%;
  background: rgb(225, 225, 25);
}
.pencil:before {
  content: "";
  position: absolute;
  height: 20%;
  width: 100%;
  background: #343434;
  top: 98%;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.tip {
  position: absolute;
  left: 49%;
  transform: translateX(-50%);
  bottom: -20%;
  height: 10px;
  width: 10px;
  background: rgb(225, 225, 25);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.text {
  position: absolute;
  width: 100%;
  bottom: -5%;
  left: 0;
  text-align: center;
  font-size: 1.5em;
  font-family: verdana;
  font-weight: bolder;
  letter-spacing: 6px;
  color: aliceblue;
}

@keyframes stroke {
  0% {
    transform: scaleX(0);
  }
  25%,
  50% {
    transform: scaleX(1);
  }
  75%,
  100% {
    transform: scaleX(0);
  }
}

@keyframes pencil {
  0% {
    left: 270px;
    transform: rotate(15deg);
    top: -7%;
  }
  25%,
  50% {
    left: 515px;
    transform: rotate(15deg);
    top: -7%;
  }
  50% {
    transform: rotate(195deg) translateY(-20%);
    top: -7%;
  }
  75% {
    left: 270px;
    transform: rotate(195deg) translateY(-20%);
  }
  100% {
    left: 270px;
    transform: rotate(15deg);
  }
}

@media (max-width: 1000px) {
  .center {
    height: 300px;
    width: 250px;
  }

  .pencil {
    height: 185px;
    width: 42px;
    top: 30%;
  }
  .stroke {
    bottom: -10px;
  }

  .text {
    bottom: -50px;
  }
  @keyframes pencil {
    0% {
      left: 130px;
      transform: rotate(15deg);
      top: 30%;
    }
    25%,
    50% {
      left: 225px;
      transform: rotate(15deg);
      top: 30%;
    }
    50% {
      transform: rotate(195deg) translateY(-20%);
      top: 30%;
    }
    75% {
      left: 130px;
      transform: rotate(195deg) translateY(-20%);
    }
    100% {
      left: 130px;
      transform: rotate(15deg);
    }
  }
}
