@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
.abtheading{
    color:rgb(215, 215, 25);
    font-family: 'Lemonada', cursive;
    text-align: center;
    /* height: 200vh; */
}   
.teampic{
    width:100%;
    height:100%;
    margin: auto;
}
.teamimagediv{
    width: 80%;
    height: 80vh;
    margin:auto;
    /* padding: auto; */
    position: relative;
}
.whatissavishkar{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 30px 20px 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0,0,0.6);
    color: aliceblue;
}
.gecfacultyvoice{
    display: grid;
    justify-content: center;
    align-items: center;
    width:90%;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "a b"
                         "a c";
    color: aliceblue;
    background-color: rgba(0, 0, 0, .5);
    /* margin: auto; */
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    grid-column-gap: 20px;
}
.gecfacultyvoice img{
    grid-area: a;
    width: 100%;
}
.gecfacultyvoice h4{
    white-space: nowrap;
    grid-area: b;
    font-family: 'Lemonada', cursive;
    color:rgb(215, 215, 25);
}
.gecfacultyvoice p{
    grid-area: c;
    font-size: 17px;
    margin: 0px;
}
.gecfacultyvoice span{
    padding-top: 20px;
    float: right;
}
@media(max-width:700px){
    .gecfacultyvoice{
        grid-template-areas: "b b"
                             "a a"
                             "c c"
        ;
    }
    
    .gecfacultyvoice img{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .gecfacultyvoice h4{
        font-size: 20px;
    }
    .gecfacultyvoice p{
        
    }
    .gecfacultyvoice span{
        padding-top: 10px;
    }
    .teamimagediv{
        width: 320px;
        height: 360px;}
}